.changePasswordContent
{
    width: 50%;
    margin: auto;
    padding: 25px 5px;
}

.loading
{
    margin: 50px auto;
}

@media screen and (max-width: 900px) 
{
  .changePasswordContent
  {
  	width: 100%;
    border: none;
  }
}